@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SMUSnowflake-Bold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2409-2@1.0/SMUSnowflake-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "OKGUNG";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/OKGUNG.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@layer base {
  html {
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #262626;
    color: #bcbcbc;
  }

  section {
    height: 100vh;
    scroll-snap-align: center;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  input {
    outline: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  ::-webkit-scrollbar {
    display: block;
    height: 8px;
    width: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #bcbcbc;
    border-radius: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #262626;
  }
}
