@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SMUSnowflake-Bold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2409-2@1.0/SMUSnowflake-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

@layer base {
  html {
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    background-color: black;
    color: lightgray;
  }

  section {
    height: 100vh;
    scroll-snap-align: center;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  input {
    outline: none;
  }
}
